:root {
  --swiper-navigation-size: 20px !important;
}

.swiper {
  &-wrapper {
    transition-timing-function: linear !important;
  }

  &-pagination {
    z-index: 1;
    position: absolute;
    bottom: $spacer-0;
    display: flex;
    gap: $spacer-2;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: $spacer-4 $spacer-0;

    &-bullet {
      display: inline-block;
      width: $spacer-6;
      height: $spacer-1;
      background-color: $white;

      &-active {
        background-color: $primary;
      }
    }
  }
}