$white: #ffffff;
$black: #000000;

$gray-100: #f8f9fa !default;
$gray-200: #f0f2f5 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900,
  ) !default;

$blue: #63B3ED !default;
$indigo: #596CFF !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #F56565 !default;
$rose: #e91e63 !default;
$orange: #fd7e14 !default;
$yellow: #FBD38D !default;
$green: #81E6D9 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$colors: (
  white: $white,
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  black: $black,
  ) !default;

$primary: #002bff !default;
$secondary: #070928 !default;
$light: $gray-200 !default;
$dark: $gray-800 !default;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  light: $light,
  dark: $dark,
  ) !default;

$background: #ffffff;
$surface: #ffffff;
$surface-variant: #002733;

$layout-colors: (
  background: $background,
  surface: $surface,
  surface-variant: $surface-variant,
  ) !default;

$on-background: #1a1a1a;
$on-surface: #161515;
$font-color: #0d2328;

$text-colors: (
  on-background: $on-background,
  on-surface: $on-surface,
  font-color: $font-color,
  ) !default;

$info: #1A73E8 !default;
$success: #4CAF50 !default;
$warning: #fb8c00 !default;
$error: #F44335 !default;

$state-colors: (
  info: #1a73e8,
  success: #4caf50,
  warning: #fb8c00,
  error: #cf6679,
  ) !default;

$primary-gradient: #3456ff !default;
$primary-gradient-state: #112fc7 !default;

$secondary-gradient: #070928 !default;
$secondary-gradient-state: #030414 !default;

$info-gradient: #49a3f1 !default;
$info-gradient-state: #1a73e8 !default;

$success-gradient: #66bb6a !default;
$success-gradient-state: #43a047 !default;

$warning-gradient: #ffa726 !default;
$warning-gradient-state: #fb8c00 !default;

$error-gradient: #ef5350 !default;
$error-gradient-state: #e53935 !default;

$light-gradient: #ebeff4 !default;
$light-gradient-state: #ced4da !default;

$dark-gradient: #323a54 !default;
$dark-gradient-state: #1a2035 !default;

$theme-gradient-colors: (
  primary: ($primary-gradient, $primary-gradient-state),
  secondary: ($secondary-gradient, $secondary-gradient-state),
  info: ($info-gradient, $info-gradient-state ),
  success: ($success-gradient, $success-gradient-state ),
  warning: ($warning-gradient, $warning-gradient-state ),
  error: ($error-gradient, $error-gradient-state ),
  light: ($light-gradient, $light-gradient-state ),
  dark: ($dark-gradient, $dark-gradient-state ),
  ) !default;

$google: #3c7ff1 !default;
$google-states: darken($google, 4%) !default;
$facebook: #0165e1 !default;
$facebook-states: darken($facebook, 4%) !default;
$whatsapp: #25D366 !default;
$whatsapp-states: darken($whatsapp, 4%) !default;
$twitter: #55acee !default;
$twitter-states: darken($twitter, 4%) !default;
$instagram: #125688 !default;
$instagram-states: darken($instagram, 4%) !default;
$linkedin: #0077b5 !default;
$linkedin-states: darken($linkedin, 4%) !default;
$pinterest: #cc2127 !default;
$pinterest-states: darken($pinterest, 4%) !default;
$youtube: #e52d27 !default;
$youtube-states: darken($youtube, 4%) !default;
$dribbble: #ea4c89 !default;
$dribbble-states: darken($dribbble, 4%) !default;
$github: #24292e !default;
$github-states: darken($github, 4%) !default;
$behance: #1769ff !default;
$behance-states: darken($behance, 4%) !default;
$fiverr: #1dbf73 !default;
$fiverr-states: darken($fiverr, 4%) !default;

$social-media-colors: (
  google: $google,
  facebook: $facebook,
  whatsapp: $whatsapp,
  twitter: $twitter,
  instagram: $instagram,
  linkedin: $linkedin,
  pinterest: $pinterest,
  youtube: $youtube,
  dribbble: $dribbble,
  github: $github,
  behance: $behance,
  fiverr: $fiverr,
  ) !default;

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value") !default;

$theme-color-interval: 8% !default;

$min-contrast-ratio: 4.5 !default;

$color-contrast-light: $white !default;
$color-contrast-dark: $black !default;

$gradient-bg: linear-gradient(180deg, rgba($white, .15), rgba($white, 0)) !default;

$hover-opacity: 0.04;
$focus-opacity: 0.12;
$pressed-opacity: 0.10;
$active-opacity: 0.12;
$disabled-opacity: 0.38;

$component-active-color: $white !default;
$component-active-bg: $primary !default;

$body-color: $font-color !default;
$body-bg: $background !default;

$hr-bg-color: $dark !default;

$headings-color: $secondary !default;

$link-color: $font-color !default;
$link-shade-percentage: 20% !default;
$link-hover-color: shift-color($link-color, $link-shade-percentage) !default;

$mark-bg: rgba($primary, 0.24) !default;