$avatar-width-base: 2.625rem !default;
$avatar-height-base: $avatar-width-base !default;

$avatar-width-sm: 2rem !default;
$avatar-height-sm: $avatar-width-sm !default;

$avatar-width-lg: 3.25rem !default;
$avatar-height-lg: $avatar-width-lg !default;

$avatar-width-xl: 4.5rem !default;
$avatar-height-xl: $avatar-width-xl !default;

$avatar-width-xxl: 5.75rem !default;
$avatar-height-xxl: $avatar-width-xxl !default;