$badge-padding-y: 0.5rem !default;
$badge-padding-x: 1.5rem !default;
$badge-font-size: $font-size-sm !default;
$badge-font-weight: $font-weight-bold !default;
$badge-color: white !default;
$badge-border-radius: 0.5rem !default;

$badge-dot-icon-width: 0.375rem !default;
$badge-dot-icon-height: 0.375rem !default;
$badge-dot-icon-margin-right: 0.375rem !default;
$badge-dot-icon-radius: 50% !default;